<configuration>
    <conversionRule conversionWord="brightBlack" converterClass="io.github.pandier.multisnake.logger.color.BrightBlackCompositeConverter" />
    <conversionRule conversionWord="levelHighlight" converterClass="io.github.pandier.multisnake.logger.color.LevelHighlightingCompositeConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%brightBlack(%d) %levelHighlight(%-5level) %cyan(%-32logger{32}) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="trace">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
